[project]
	description = Basic project using rebar, to demonstrate upgrades and packaging etc
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shlokspeare
[access "refs/for/refs/*"]
	read = group user/shlokspeare
	push = group user/shlokspeare
	label-Code-Review = -2..+2 group user/shlokspeare
	label-Verified = -1..+1 group user/shlokspeare
	rebase = group user/shlokspeare
	removeReviewer = group user/shlokspeare
	submit = group user/shlokspeare
[access "refs/heads/*"]
	read = group user/shlokspeare
	create = group user/shlokspeare
	push = +force group user/shlokspeare
	pushMerge = group user/shlokspeare
[access "refs/tags/*"]
	push = +force group user/shlokspeare
	pushTag = group user/shlokspeare
	pushSignedTag = group user/shlokspeare
