[project]
	description = Basic project using rebar, to demonstrate upgrades and packaging etc
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shlok Malik (shlokspeare)
[access "refs/for/refs/*"]
	read = group user/Shlok Malik (shlokspeare)
	push = group user/Shlok Malik (shlokspeare)
	label-Code-Review = -2..+2 group user/Shlok Malik (shlokspeare)
	label-Verified = -1..+1 group user/Shlok Malik (shlokspeare)
	rebase = group user/Shlok Malik (shlokspeare)
	removeReviewer = group user/Shlok Malik (shlokspeare)
	submit = group user/Shlok Malik (shlokspeare)
[access "refs/heads/*"]
	read = group user/Shlok Malik (shlokspeare)
	create = group user/Shlok Malik (shlokspeare)
	push = +force group user/Shlok Malik (shlokspeare)
	pushMerge = group user/Shlok Malik (shlokspeare)
[access "refs/tags/*"]
	push = +force group user/Shlok Malik (shlokspeare)
	pushTag = group user/Shlok Malik (shlokspeare)
	pushSignedTag = group user/Shlok Malik (shlokspeare)
